/* #title{
  background-color: #ff4c68;
}
.first-head{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15%;
} */
body{
  font-family: "Montserrat";
}
#title{
  background-color: #ff4c68;
}
.first-head{
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
}
.container-fluid{
  padding: 3% 15% 7%;
}
.navbar-brand{
  font-family: "Montserrat-light";
  font-weight: bold;
  font-size: 2.5rem;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}
.download-btn{
  margin: 5% 3% 5% 0;
  font-family: "Montserrat-light";
}
.above{
  padding-bottom: 4.5rem;
}
.image{
  width: 20%;
  transform: rotate(20deg);
  position: absolute;
  right: 25%;
}
.container1{
  padding: 10%;
}
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature-box{
  text-align: center;
  padding: 5%;
}

.h2{
  font-family: "Montserrat-Bold";
  font-size: 3rem;
}

.h3-head{
  font-family: "Montserrat-bold";
  font-size: 1.5rem;
  font-weight: bolder;
}
.para{
  color: #8f8f8f;
}
.shapes{
  padding-bottom: 20px;
  color: #ef8172;
}
.shapes:hover{
  color: #ff4c68;
}

#testimonials{

  text-align:center;
  background-color: #ef8172;
  color: #fff;
}
.testimonialsimage{
  width:10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
    padding:8% 20%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
 .press-logo {
   width: 15%;
   margin: 20px 20px 50px;

 }

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width:993px){
  .ishu {
    text-align: center;
  }

  .image {
    width: 60%;
    position: static;
    transform: rotate(0);
  }
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;

}
#footer {
  text-align: center;
  padding: 7% 0 2% 0;
}
 .footerp {
   font-family: "Montserrat-light";
   font-size: 1.2rem;
 }

.footericon {
  padding: 0 3px 10px 3px;
}
